*.exe
*.identcache
*.dcu
*.stat
*.dproj.local
*.groupproj.local
dunitx-results.xml
/Demos/02.CNG RNG/__history
/Source/CNG/__history
/Source/CAPI/__history
/Source/__history
/Demos/03.CNG Sign/__history
/Demos/03.CNG Sign/data/*
!/Demos/03.CNG Sign/data/createKeyPair.bat
Tests/CNG/__history/
